.settings {
    justify-content: center;
}

.stripe {
    color: black;
    height: 10px;
    width: auto;
}

.favDriver {
    height: 200px;
    width: 50%;
}

.favTeam {
    height: 200px;
    width: 50%;
}