img {
    padding-top: 20px;
    padding-bottom: 20px;
    width: auto;
    margin: auto;
    display: block;
}

.buttonDeck {
    padding-top: 20px;
}

.HButtons {
    width: 200px;
}

.formLabel {
    font-weight: bold;
}